body {
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

main {
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}
